body {
    font-family: Arial;
    background: #f4f4f4;
    text-align: center;
}

.container {
    width: 350px;
    margin: auto;
    margin-top: 30px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

button {
    background: green;
    color: white;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
    background: #eee;
    margin: 10px 0;
    padding: 10px;
}

button:hover {
    background: darkgreen;
}